body{
    font-family:Arial, Helvetica, sans-serif;
    /* background: b; */
    /* background-color: #f1f3f6;
     */
     padding: 0;
     margin: 0;
     background: linear-gradient(90deg, transparent, #b4b3b4);
     /* background: linear-gradient(106.71deg,#f1f3f6 11.13%,#f1f3f6 85.15%,#f1f3f6 116.91%); */
}
#qtext{
    font-size: 15px;
        font-family: Roboto,Arial,sans-serif;
        color: #2874f0;
        border-radius: 2px;
        padding: 2px 8px;
        background-color: #e9e6e6;
        width: 11px;
        height: 10px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
}
#parent{
    display: flex;
    width: 90%;
    /* border: solid; */
    height: 100%;
    margin: auto;
    justify-content: space-between;
    /* padding: 20px; */
    /* background-color: #f1f3f6; */
    /* background: linear-gradient(90deg, transparent, #b4b3b4); */
   
}
#cardcard{
    display: flex;
    height: 220px;
    /* flex-direction: column; */
}
#child1{
    /* border:solid; */
    width: 60%;
     /* background-color: white; */

}
 #card{ 
      background-color: white; 
    /* border: solid red; */
    /* height: 30%; */
    border-radius: 20px;
     display: flex;
     flex-direction: column; 
    width: 100%;
    padding: 20px; 
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    padding: 10px;
    /* width: 190px; */
    /* height: 254px; */
    /* background: rgb(255, 255, 255); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    justify-content: space-between;
    
        
      
} 

  
 
  /*
  @keyframes click{
    from{
      transform: scale(1);
    }
    50%{
      transform: scale(0.95);
    }
    to{
      transform: scale(1);
    }
  }
  */



#cardimg{
    /* border: solid yellow; */
    width: 25%;
    margin-bottom: 20px;
    /* height: 100px; */

}
.plusbtn{
    border: none;
    font-family: Roboto,Arial,sans-serif;
        color: #2874f0;
        border-radius: 2px;
        padding: 2px 8px;
        background-color: #e9e6e6;
        width: 23px;
        height: 20px;
        text-align: center;
        cursor: pointer;
        margin-top: 10px;
        
}
.plusbtn:hover{
    color: #000000;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}
#cardimg img{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    /* margin-right: 30px; */
}
.address{
     background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    /* border: red solid; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}


.btndiv button {
    cursor: pointer;
    --color: #030303;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    /* border: 1px solid var(--color); */
    border: none;
    border-radius: 6px;
    position: relative;
  }
  
  .btndiv button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .btndiv button:hover {
    color: white;
  }
  
  .btndiv button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  .btndiv button:hover::before {
    top: -30px;
    left: -30px;
  }
#hrline{
    margin-bottom: 30px;
}

#carddet{
    /* border: solid blue; */
    margin-left: 10px;
    width: 70%;
    padding: 10px;
    margin-bottom: 30px;
}
.child2{
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 25%;
     
    padding: 15px;
    border-radius: 20px;
     background-color: white;
     height: 400px;
     cursor: pointer;
     transition: all 0.5s;
     
 background: rgb(255, 255, 255);
 
 border: 1px solid rgba(0, 0, 255, .2);
 transition: all .2s;
 box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2)
}
.child2:hover {
    /* border: 1px solid black; */
    transform: scale(1.05);
    /* RGB(40 116 240) */
        box-shadow: 10px 10px 30px 10px rgba(40, 116, 240, 0.30);
       
  }
  
  .child2:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

.price{
    display: flex;
    justify-content: space-between;
}
.discount{
    display: flex;
    justify-content: space-between;
}
.delcharge{
    display: flex;
    justify-content: space-between;
}
.totalamount{
    display: flex;
    justify-content: space-between;
}
.discprice{
    color: #2874f0;
    font-weight: 600;
}
.carddelivery{
    display: flex;
    justify-content: space-between;
    height: 36px;
}
.security
    {
        width: 100%;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: #878787;
        margin: 10% 0% 0% 1%;
        display: flex;
    }
    .div3{
        /* border: solid; */
        justify-content: end;
        display: flex;
        height: 40px;
        width: 100%;
        margin-top: 10px;
        
    }
    /* .div3 button{
        height: 40px;
        width: 250px;
        border: #fb641b;
        background-color: #fb641b;
        color: white;
        
        font-size: 16px;
        cursor: pointer;
    } */
    #placeorder1 {
        cursor: pointer;
        padding: 1em 2em;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #fb641b;
        transition: all 1000ms;
        font-size: 15px;
        position: relative;
        overflow: hidden;
        outline: 2px solid #fb641b;
      }
      
      #placeorder1:hover {
        color: #ffffff;
        transform: scale(1.1);
        outline: 2px solid #fb641b;
        box-shadow: 4px 5px 17px -4px #fb641b;
      }
      
      #placeorder1::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: #fb641b;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
      }
      
      #placeorder1:hover::before {
        width: 250%;
      }
      
    .parent1{
        margin: auto;
        /* border: solid; */
        width: 90%;
        height: 100%;

    }
    /* .addbtn{
        background-color: rgb(252, 136, 136);
        border: none;
        margin-right: 10px;
        cursor: pointer;
    }
    .addbtn:hover{
        color:#2874f0;
        
    } */
    /* .addbtn {
        cursor: pointer;
        font-size: 14px;
        background: transparent;
        border: none;
        padding: 1em 1.5em;
        color: #000000;
        text-transform: uppercase;
        position: relative;
        transition: .5s ease;
      }
      
      .addbtn::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0;
        background-color: #ffc506;
        transition: .5s ease;
      }
      
      .addbtn:hover {
        color: #1e1e2b;
        transition-delay: .5s;
      }
      
      .addbtn:hover::before {
        width: 100%;
      }
      
      .addbtn::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: #ffc506;
        transition: .4s ease;
        z-index: -1;
      }
      
      .addbtn:hover::after {
        height: 100%;
        transition-delay: 0.4s;
        color: aliceblue;
      } */
      
      .addbtn {
        margin-right: 10px;
        width: fit-content;
        height: 30px;
        background: #ffffff0d;
        border-radius: 8px;
        border:   #2874F0;
        font-size: 15px;
        font-weight: bold;
        color: black;
        -webkit-transition: 0.5s all ease;
        transition: 0.5s all ease;
        position: relative;
        overflow: hidden;
        /* padding: 10px 25px; */
        z-index: 1;
      }
      
      
     
      
      .addbtn:before {
        width: 50%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: -50%;
        background: #2874F0;
        transition: all 0.5s ease;
        z-index: -1;
      }
      
      .addbtn:after {
        width: 50%;
        height: 100%;
        content: "";
        margin: auto;
        position: absolute;
        top: 0%;
        left: 100%;
        background: #CBCA3A;
        transition: all 0.5s ease;
        z-index: -1;
      }
      
      .addbtn:hover {
        color: white;
        cursor: pointer;
      }
      
      .addbtn:hover:before {
        top: 0;
        left: 0;
      }
      
      .addbtn:hover:after {
        top: 0;
        left: 50%;
      }
    #footer
    {
        display: flex;
        /* background-color: #F1F3F6; */
        /* background: linear-gradient(90deg, transparent, #b4b3b4); */
        width: 100%;
        height: 160px;
        color: #565656;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        padding-left: 100px;
        padding-top: 50px;
        margin-top: 40px;
    }
    #fut1{
        /* border: solid; */
        height: 50px;
        /* width: 30%; */
    }
    #fut2{
        /* border: solid; */
        margin-left: 9%;
        height: 50px;
        /* width: 30%; */
    }
   
/* ---------------------medium screen---------- */
    @media  screen and (min-width:601px) and (max-width:768px) {
        #parent{
            display: flex;
            margin: none;
            width: 100%;
          height: 100%;
            
            
           
        }
        #child1{
            
            width: 60%;
            
        }
        #card{
            
            height: 50%;
            display: flex;
            width: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            
        }
        #cardimg{
            /* border: solid yellow; */
            width: 30%;
            /* height: 100px; */
            
        
        }
        #cardimg img{
            width: 100%;
            height: 150px;
            
        }
        
        .address{
            display: flex;
            justify-content: space-between;
            width: 100%;
            /* border: red solid; */
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            /* padding: 10px; */
        }
        .btndiv{
            height: 30px;
            /* border: red solid; */
            margin-top: 30px;
            margin-right: 30px;
        }
        .btndiv button{
            height: 30px;
            /* border: none; */
            background-color: white;
            border: 1px solid #bac0ca;
            width: 80px;
            cursor: pointer;
            color: #2874f0;
        }
        
        #carddet{
            /* border: solid blue; */
            margin-left: 10px;
            width: 70%;
            /* padding: 10px; */
        }
        .child2{
            /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            width: 30%;
            height: 100%;
            /* padding: 15px; */
            /* margin-left: 10px ; */
            
        }
        .price{
            display: flex;
            justify-content: space-between;
        }
        .discount{
            display: flex;
            justify-content: space-between;
        }
        .delcharge{
            display: flex;
            justify-content: space-between;
        }
        .totalamount{
            display: flex;
            justify-content: space-between;
        }
        .discprice{
            color: #2874f0;
            font-weight: 600;
        }
        .carddelivery{
            display: flex;
            justify-content: space-between;
            height: 36px;
            width: 100%;
            margin-bottom: 30px;
        }
        .security
            {
                width: 100%;
                height: 50px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: 600;
                color: #878787;
                margin: 10% 0% 0% 1%;
                display: flex;
            }
            .div3{
                /* border: solid; */
                justify-content: end;
                display: flex;
                height: 40px;
                width: 100%;
                margin-top: 10px;
                
            }
            .div3 button{
                height: 40px;
                width: 150px;
                border: #fb641b;
                background-color: #fb641b;
                color: white;
                /* font-weight: 600; */
                font-size: 16px;
                cursor: pointer;
            }
            .parent1{
                margin: auto;
                /* border: solid; */
                width: 100%;
        
            }
            

            .addbtn{
                background-color: white;
                border: none;
                /* margin-right: 10px; */
                cursor: pointer;
            }
            .addbtn:hover{
                color:#2874f0
            }

.totalamount h2{
    font-size: 20px;
}
#footer
    {
       display: flex;
       padding: 0;
       height: 150px;
       justify-content: center;
       align-items: center;
        
    }
    
    #fut1{
        /* border: solid; */
        height: 50px;
        /* width: 30%; */
    }
    #fut2{
        /* border: solid; */
        height: 50px;
        /* width: 30%; */
    }


    } 


    @media  screen and (min-width:400px) and  (max-width:600px){
        #parent{
            display: flex;
            flex-direction: column;
            
            /* margin: auto; */
            width: 90%;
          height: 100%;
          /* display: none; */
            
            
           
        }
        #child1{
            
            width: 90%;
            
        }
        #card{
            
            height: 40%;
            display: flex;
            width: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            
        }
        #cardimg{
            /* border: solid yellow; */
            width: 20%;
            /* height: 100px; */
        
        }
        #cardimg img{
            width: 100%;
            height: 150px;
            /* margin-right: 30px; */
        }
        .address{
            display: flex;
            justify-content: space-between;
            width: 100%;
            /* border: red solid; */
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            /* padding: 10px; */
        }
        .btndiv{
            height: 30px;
            /* border: red solid; */
            margin-top: 30px;
            margin-right: 30px;
        }
        .btndiv button{
            height: 30px;
            /* border: none; */
            background-color: white;
            border: 1px solid #bac0ca;
            width: 80px;
            cursor: pointer;
            color: #2874f0;
        }
        
        #carddet{
            /* border: solid blue; */
            /* margin-left: 10px; */
            width: 70%;
            /* padding: 10px; */
        }
        .child2{
            /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
            margin-top: 20px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            width: 50%;
            margin: auto;
            height: 100%;
            /* padding: 15px; */
            /* margin-left: 10px ; */
            
        }
        .price{
            display: flex;
            justify-content: space-between;
        }
        .discount{
            display: flex;
            justify-content: space-between;
        }
        .delcharge{
            display: flex;
            justify-content: space-between;
        }
        .totalamount{
            display: flex;
            justify-content: space-between;
        }
        .discprice{
            color: #2874f0;
            font-weight: 600;
        }
        .carddelivery{
            display: flex;
            justify-content: space-between;
            height: 36px;
            width: 100%;
            margin-bottom: 30px;
        }
        .security
            {
                width: 100%;
                height: 50px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                font-weight: 600;
                color: #878787;
                /* margin: 10% 0% 0% 1%; */
                display: flex;
            }
            .div3{
                /* border: solid; */
                justify-content: end;
                display: flex;
                height: 40px;
                width: 100%;
                /* margin-top: 10px; */
                
            }
            .div3 button{
                height: 40px;
                width: 150px;
                border: #fb641b;
                background-color: #fb641b;
                color: white;
                /* font-weight: 600; */
                font-size: 16px;
                cursor: pointer;
            }
            .parent1{
                margin: auto;
                /* border: solid; */
                width: 90%;
        
            }
            .addbtn{
                background-color: white;
                border: none;
                /* margin-right: 10px; */
                cursor: pointer;
            }
            .addbtn:hover{
                color:#2874f0
            }
            #child11{
                width: 100%;
            }

.totalamount h2{
    font-size: 20px;
}
#footer
    {
       display: flex;
       padding: 0;
       height: 150px;
       justify-content: center;
       align-items: center;
        
    }
    
    #fut1{
        /* border: solid; */
        height: 50px;
        /* width: 30%; */
    }
    #fut2{
        /* border: solid; */
        height: 50px;
        /* width: 30%; */
    }
    }