/* *********************Header start everyone can take this******************************************* */

#h{
    position: fixed;
    top: 0;
    width: 100%;
   
  }
#header1{
    display: flex;
    justify-content: space-between;
    
    background: #1976D2;
color: aliceblue;
width: 100%;
height: 73px;
font-size: 14px;
font-family:serif;
text-decoration: none;
}
#header1> a{
    text-decoration: none;
    color: aliceblue;  
}

#logo{
     margin-left:0px; 
} 
#logoimage{
    width: 60px;
    border-radius: 90px;
    padding: 5px;
    margin-left:10px;
    height: 60px;
}


#inp{
    width: 650px;
    height: 50px; 
    margin-top: 13px;
    border-radius: 40px;
    background:transparent;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
   
}
#search-btn{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}


#cart{
    margin-right:40px;
    margin-top: 10px;
}


/* ------------------------------------------header end----------------------- */

#header-2{
display:flex ;
justify-content: space-between;
margin-top: 90px;
text-align: center;
font-size: 10px;
padding: 0px 80px;
}
#header-2 >div > a> img{
    height: 70px;
}






/* --------------------------------slider1----------------------- */
.container{
   
    width: 100%;
    margin-top: 10px;
    
    }
    .swiper{
    width: 100%;
    height:fit-content ;
    
    }
    .swiper-slide img{
    width: 100%;
    }
    .swiper>.swiper-button-prev, .swiper>.swiper-button-next{
    color:rgb(252, 210, 210),
    
    }
    .swiper .swiper-pagination-bullet-active{
      background-color: rgb(24, 45, 235);
    }




/* -----------------------------------Stable--1 ends------------------- */
#f1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  /* background-color: rgb(88, 58, 18); */
   gap: 10px;
   padding-right: 0px;
   margin-top: 10px;
}
#f1 > img{
    width: 566px;
}


/* PRODUCTS----------------------------------------slider--------------------------2222 */

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  color:rgb(28, 114, 110)
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}


.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
/* PRODUCTS----------------------------------------slider2---end--------------------------2222 */


/* ******************************STable-2_________________----------------------------------- */


#stable-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  /* background-color: rgb(88, 58, 18); */
   gap: 10px;
   padding-right: 0px;
   margin-top: 10px;
}
#stable-2 > div>img{
width: 100%;
}

/* ******************************STable-2 endddd________________----------------------------------- */



/* ******************************STable-3________________----------------------------------- */
#stable-3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  /* background-color: rgb(88, 58, 18); */
   gap: 10px;
   padding-right: 0px;
   margin-top: 10px;
}
#stable-3 > div>img{
width: 100%;
}
/* ******************************STable-3 endddd________________----------------------------------- */

/* ******************************STable-4________________----------------------------------- */
#stable-4{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  /* background-color: rgb(88, 58, 18); */
   gap: 10px;
   padding-right: 0px;
   margin-top: 10px;
}
#stable-4 > div>img{
width: 100%;
}
/* ******************************STable-4 endddd________________----------------------------------- */


/* ----------------last-desc---------------- */
#last-desc{
  text-align:justify; 
  padding:20px;
}
#last-desc >h1{
    color: rgb(104, 102, 102); 
    font-size: 25px;
    font-weight:bold;
  }
  #last-desc >p{
    color: rgb(170, 162, 162); 
  }