#container {
    width: 80%;
    margin: auto;
  }
  #container > div {
    display: flex;
    gap: 10px;
    justify-content: end;
  }
  form {
    margin: auto;
    width: 250px;
  }
  input {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }