.radio-group
    {
        display: flex;
        flex-direction: column;
    }
    body{
        background-color: #f1f3f6;
    }
    .addres{
        background-color: #2874f0;
        display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: red solid; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    color: white;
    }
    .radio
    {
        font-size: 17px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding-left: 75px;
        position: relative;
        border: 0.2px solid rgb(241, 238, 238);
        width: 100%;
        height: 90px;
        box-sizing: border-box;
        font-family: Roboto,Arial,sans-serif;
        background-color: white;
    }
    .radio input
    {
        display: none;
    }
    .radio span
    {
        width: 16px;
        height: 16px;
        border: 3px solid #2874f0;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 30px;
        left: 32px;
    }
    .radio span::after
    {
        content: "";
        width: 11px;
        height: 11px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        background: #2874f0;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 100ms ease-in-out 0s;
    }
    .radio input:checked ~ span::after
    {
        transform: translate(-50%, -50%) scale(1);
    }
    .radio img
    {
        width: 30px;
        height: 30px;
    }
    .supercoin
    {
        display: flex;
        font-size: 16px;
        color: #388e3c;
        font-family: Roboto,Arial,sans-serif;
        align-items: center;
        margin-left: -25px;
    }
    .radio .supercoin > img
    {
        width: 20px;
        height: 20px;
    }
    #cod
    {
        height: 120px;
        box-sizing: border-box;
        padding-top: 35px;
    }
    #emi
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: rgb(170, 170, 170);
    }
    .na
    {
        display: flex;
        font-size: 16px;
        font-family: Roboto,Arial,sans-serif;
        margin-left: 305px;
        cursor: pointer;
    }
    #disable
    {
        cursor: not-allowed;
    }
    .radio span #qn
    {
        margin-left: 1040px;
        color: gray;
    }
    .num{
       
        font-size: 16px;
        font-family: Roboto,Arial,sans-serif;
        color: #2874f0;
        border-radius: 2px;
        padding: 3px 7px;
        background-color: #e9e6e6;
        width: 11px;
        height: 20px;
        text-align: center;
    
    }
    .pay
    {
        
        height: 90px;
        margin-left: 2px;
        box-sizing: border-box;
        background-color: #f1f3f6;
        display: flex;
        padding-left: 30px;
        padding-top: 20px;
        display: none;
    }
    .pay_btn
    {
        width: 215px;
        height: 60px;
        background-color: #fb641b;
        color: white;
        margin-top: -6px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 55px;
    }

    @media  screen and (min-width:601px) and (max-width:768px){


    }

    @media  screen and (min-width:400px) and  (max-width:600px){
        #emi
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: rgb(170, 170, 170);
        }
        .na
        {
            display: flex;
            font-size: 16px;
            font-family: Roboto,Arial,sans-serif;
            margin-left: 100px;
            cursor: pointer;
        }    
        .pay
        {
            /* border: solid; */
            width: 100%;
            height: 90px;
            margin-left: 2px;
            box-sizing: border-box;
            background-color: white;
            display: flex;
            padding-left: 30px;
            padding-top: 20px;
            display: none;
        }
        .radio-group
    {
        display: flex;
        flex-direction: column;
    }
    .radio
    {
        font-size: 17px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding-left: 75px;
        position: relative;
        border: 0.2px solid rgb(241, 238, 238);
        width: 100%;
        height: 90px;
        box-sizing: border-box;
        font-family: Roboto,Arial,sans-serif;
        background-color: white;
    }
    .radio input
    {
        display: none;
    }
    .radio span
    {
        width: 16px;
        height: 16px;
        border: 3px solid #2874f0;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 30px;
        left: 32px;
    }
    .radio span::after
    {
        content: "";
        width: 11px;
        height: 11px;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        background: #2874f0;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: 100ms ease-in-out 0s;
    }
    .radio input:checked ~ span::after
    {
        transform: translate(-50%, -50%) scale(1);
    }
    .radio img
    {
        width: 30px;
        height: 30px;
    }
    .supercoin
    {
        display: flex;
        font-size: 16px;
        color: #388e3c;
        font-family: Roboto,Arial,sans-serif;
        align-items: center;
        margin-left: -25px;
    }
    .radio .supercoin > img
    {
        width: 20px;
        height: 20px;
    }
    #cod
    {
        height: 120px;
        box-sizing: border-box;
        padding-top: 35px;
    }
   
    #disable
    {
        cursor: not-allowed;
    }
    .radio span #qn
    {
        /* margin-left: 1040px; */
        color: gray;
    }
    }